// COLORS PALETTE - GOTHIC LOLITA VIBES

$darkPurple: #291e29;
$darkGray: #1b171c;
$pink: #B3788C;
$lightPink: #E4B4C1;
$lightGray: #DCCED6;

//Assets
$laceBorder: url(./Assets/blacklace4.png) 30 round;

//Fonts
@font-face {
    font-family: goth;
    src: url(./Assets/CloisterBlackLight-axjg.ttf)
}

.intro {
    color: $lightPink;
    text-align: center;
}

.menu {
    color: $darkGray;
    text-align: center;
}

.button1 { //For menus
    background:    $pink;
    border-radius: 11px;
    border-color:  $lightPink;
    width:         10%;
    height:        37px;
    color:         $darkGray;
    display:       inline-block;
    font:          normal bold 23px/29px "goth", cursive;
    text-align:    center;
}

.spacer {
    height:35px;
    padding: 5px;
}

.lacetop {

}

.main {
    //padding: px;
    border: 17px solid transparent;
    border-image: $laceBorder;
    border-image-slice: fill;
    //background-image: url("https://64.media.tumblr.com/abb78eeb0b984750542807f062bf5a25/tumblr_inline_ml2h7p5naW1rfdbtm.gif");
    background-image: url(./Assets/backgrounditem.png);
    background-size: 10px 10px;
    border-image-outset: 15px 15px;
}

body{
    background-image: url(./Assets/background.png);
    background-repeat: repeat;
    color:$lightPink;
    padding: 20px;
}

html{
    cursor: url(./Assets/kuromiopen.cur), auto;
}
html:active{
    cursor: url(./Assets/kuromidizzy.cur), auto;
}