// COLORS PALETTE - GOTHIC LOLITA VIBES

$darkPurple: #291e29;
$darkGray: #1b171c;
$pink: #B3788C;
$lightPink: #E4B4C1;
$lightGray: #DCCED6;

//head{}

.intro {
    color: $lightPink
}

.menu{
    background-color: $pink;
    color: $darkGray;
}

.main{
    background-color: $darkGray;
    padding: 15px;
}

body{
    background-color: $darkPurple;
    color:$lightPink;
    padding: 20px;
}